@import "theme_variables";

@function text-contrast($n) {
  $color_brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light_color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color_brightness) < ($light_color/2){
    @return white;
  }
  @else {
    @return black;
  }
}

$projects_landing_bg: white;
$projects_landing_color: text-contrast(darken($projects_landing_bg, 20));

.has-project-landing #main-outlet {
  padding-top: 0;
}

.projects-landing {
  background-color: $projects_landing_bg;
  color: $projects_landing_color;
  padding: 0;
  padding-top: 5.8572em;
  overflow: hidden;
  display: none;

  .has-project-landing & {
    display: block;

    &:empty {
      display: none;
    }
  }

  & > .wrap {
    display: flex;
  }

  &__jumbotron {
    flex: 2;
    display: flex;
    padding: 1em 0 2em;
    padding-right: 3vw;

    &:before {
      content: "";
      background: $tertiary url($feedback) center center no-repeat;
      background-size: 60% auto;
      height: 5em;
      width: 5em;
      min-width: 5em;
      display: block;
      border-radius: 5em;
      box-shadow: 0 0 0 1em rgba($tertiary, .2);
      margin: 1em;
      margin-right: 2em;
    }

    &__feedback.btn {
      background: $header_background;
      color: text-contrast($header_background);
      font-weight: bolder;
    }
  }

  &__projects {
    flex: 1;
    color: white;
    position: relative;
    z-index: 10;
    padding: 1em 0 2em;

    &:before {
      content:"";
      background: darken($tertiary, 2);
      height: 200%;
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 50vw;
      z-index: -1;
      transform: rotate(5deg) translate(-2vw, 50%);
      transform-origin: left bottom;
    }

    &__heading {
       font-weight: bold;
       font-size: 1.1em;
       color: black;
    }

    &__list {
      margin: 0 auto;
      list-style: none;
      max-height: 200px;
      overflow: auto;

      &__item {
        margin-bottom: 0.3rem;
        display: block;

        a {
          font-weight: bold;
          color: inherit;
        }

        &__name {
          font-weight: bold;
          font-size: 1.1em;
        }
      }
    }
  }
}
